.App {
  text-align: center;
  
}

ul {
  list-style-type: none;
}
.table{
  margin: 10px auto;
  border: solid 2px black;

}

.table td, .table th{
  
  padding: 5px 15px;
  border: solid 2px black;
}

.form{
  margin: 10px auto;

}
